<!DOCTYPE html>
<html>
	<head>
		<title>JM Tech & Development</title>
		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<script src="https://kit.fontawesome.com/b4fd7ce315.js" crossorigin="anonymous"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
	<body>
		<nav class="navbar navbar-dark bg-dark navbar-expand-md mb-4" style="margin-bottom: 20px;">
			<a class="navbar-brand" href="/"><i class="fas fa-laptop-code" style="margin-right: 10px;"></i>JMTD</a>
			<button class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>	
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav ml-auto justify-content-end">
					<% if(!currentUser) { %>
						<li class="nav-item">
							<a class="nav-link" href="/login">Login</a>
						</li>
						<li class="nav-item"> 
							<a class="nav-link" href="/register">Sign Up</a>
						</li>
					<% } else { %>
						<li style="padding-top: 7.5px;">
							<a href="#">Signed In As <%= currentUser.username%></a>
						</li>
						<li class="nav-item" style="margin-left: 20px;">
							<a class="nav-link" href="/logout">Logout</a>
						</li>
					<% } %>
				</ul>
			</div>
		</nav>
		<div class="container">
			<% if(error && error.length > 0){ %>
				<div class="alert alert-danger" role="alert">
					<%= error %>
				</div>
			<% } %>
			<% if(success && success.length > 0){ %>
				<div class="alert alert-success" role="alert">
					<%= success %>
				</div>
			<% } %>
		</div>

		
